{% extends 'base.html' %}

{% block logo %}
   {% for school_general_information in genei %}
   <a href="{% url 'home' %}"><img class="welcome" src="{{ school_general_information.school_logo.url }}" height="150" width="150" alt=" "></a>
   {% endfor %}
{% endblock %}

{% block general_head %}
        {% for school_general_information in genei %}
        <ul>
        <li><i class="fa fa-phone" aria-hidden="true"></i> <strong>{{ school_general_information.school_phone_number|safe }}</strong></li>
        <li><img src="{{ school_general_information.mail_icon.url }}" height="20" width="20" alt=" ">&emsp; <strong>{{ school_general_information.school_emailaddress }}</strong></li>
        </ul>
        {% endfor %}
{% endblock %}

{% block social_links %}
  <nav class="social">
  <ul>
    {% for school_general_information in genei %}
    <li class="w3_twitter"><a href="{{ school_general_information.school_twitterlink }}" target="_blank">Twitter <i class="fa fa-twitter"></i></a></li>
    <li class="w3_facebook"><a href="{{ school_general_information.school_facebooklink }}" target="_blank">Facebook <i class="fa fa-facebook"></i></a></li>
    {% endfor %}
  </ul>
  </nav>
{% endblock %}

{% block home_content %}
		<h4 class="latest-text w3_latest_text"><strong>Technical and Applied Sciences Department</strong></h4>
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Computer Studies</a></li>
          <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Business Studies</a></li>
					<li role="presentation"><a href="#rating" id="rating-tab" role="tab" data-toggle="tab" aria-controls="rating" aria-expanded="true">Homescience</a></li>
					<li role="presentation"><a href="#imdb" role="tab" id="imdb-tab" data-toggle="tab" aria-controls="imdb" aria-expanded="false">Agriculture</a></li>

				</ul>
        <div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
						<div class="w3_agile_featured_movies">
              {% for school_computer_studies_department in tech %}
							<div class="wthree-news-left">
								<div class="wthree-news-left-img">
									<img src="{{ school_computer_studies_department.photo.url }}" width="50%" height="auto" alt="" />
									<div id="fb-root"></div>
									<div class="w3-agile-news-text">
                    <br/>
										<h5><b>{{ school_computer_studies_department.name }},</b></h5><br/>
										<br/><p style="opacity:0.8; font-size:17px; width:100%; font-color:#ffffff; background-color:#282c34; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em; ">{{ school_computer_studies_department.few_words }}</p>
									</div>
								</div>
							</div>
              {% endfor %}
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
            {% for school_business_studies_department in techa %}
						<div class="wthree-news-left">
							<div class="wthree-news-left-img">
								<img src="{{ school_business_studies_department.photo.url }}" width="100%" height="auto" alt="" />
								<div id="fb-root"></div>
								<div class="w3-agile-news-text">
                  <br/>
                  <h5><b>{{ school_business_studies_department.name }},</b></h5><br/>
									<br/><p style="opacity:0.8; font-size:17px; width:100%; font-color:ffffff; background-color:#282c34; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">{{ school_business_studies_department.few_words }}</p>
								</div>
							</div>
						</div>
            {% endfor %}
						<div class="clearfix"> </div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="rating" aria-labelledby="rating-tab">
            {% for school_homescience_department in techb %}
						<div class="wthree-news-left">
							<div class="wthree-news-left-img">
								<img src="{{ school_homescience_department.photo.url }}" width="100%" height="auto" alt="" />
								<div id="fb-root"></div>
								<div class="w3-agile-news-text">
                  <br/>
                  <h5><b>{{ school_homescience_department.name }},</b></h5><br/>
									<br/><p style="opacity:0.8; font-size:17px; width:100%; font-color:ffffff; background-color:#282c34; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">{{ school_homescience_department.few_words }}</p>
								</div>
							</div>
						</div>
            {% endfor %}
						<div class="clearfix"> </div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="imdb" aria-labelledby="imdb-tab">
            {% for school_agriculture_department in techc %}
						<div class="wthree-news-left">
							<div class="wthree-news-left-img">
								<img src="{{ school_agriculture_department.photo.url }}" width="50%" height="auto" alt="" />
								<div id="fb-root"></div>
								<div class="w3-agile-news-text">
                  <br/>
                  <h5><b>{{ school_agriculture_department.name }},</b></h5><br/>
									<br/><p style="opacity:0.8; font-size:17px; width:100%; font-color:ffffff; background-color:#282c34; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">{{ school_agriculture_department.few_words }}</p>
								</div>
							</div>
						</div>
            {% endfor %}
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block general_foot %}
   {% for school_general_information in genei %}
 <p>Copyright &copy; {{ school_general_information.current_year }} <br/>NjoNjo Girls High School. {{ school_general_information.school_address }}<br/> All Rights Reserved. Designed by <a href="http://www.peerware.co.ke" target="_blank">PHS</a></p>
   {% endfor %}
{% endblock %}
