{% extends 'base.html' %}

{% block logo %}
   {% for school_general_information in genel %}
   <a href="{% url 'home' %}"><img class="welcome" src="{{ school_general_information.school_logo.url }}" height="150" width="150" alt=" "></a>
   {% endfor %}
{% endblock %}

{% block general_head %}
        {% for school_general_information in genel %}
        <ul>
        <li><i class="fa fa-phone" aria-hidden="true"></i> <strong>{{ school_general_information.school_phone_number|safe }}</strong></li>
        <li><img src="{{ school_general_information.mail_icon.url }}" height="20" width="20" alt=" ">&emsp; <strong>{{ school_general_information.school_emailaddress }}</strong></li>
          <li><img src="{{ school_general_information.address_icon.url }}" height="20" width="20" alt=" ">&emsp; <strong>{{ school_general_information.school_address }}</strong></li>
        </ul>
        {% endfor %}
{% endblock %}

{% block social_links %}
  <nav class="social">
  <ul>
    {% for school_general_information in genel %}
    <li class="w3_twitter"><a href="{{ school_general_information.school_twitterlink }}" target="_blank">Twitter <i class="fa fa-twitter"></i></a></li>
    <li class="w3_facebook"><a href="{{ school_general_information.school_facebooklink }}" target="_blank">Facebook <i class="fa fa-facebook"></i></a></li>
    {% endfor %}
  </ul>
  </nav>
{% endblock %}

{% block home_content %}
		<h4 class="latest-text w3_latest_text"><strong>School Laboratories</strong></h4>
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Physics Lab</a></li>
					<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Chemistry Lab</a></li>
					<li role="presentation"><a href="#rating" id="rating-tab" role="tab" data-toggle="tab" aria-controls="rating" aria-expanded="true">Biology Lab</a></li>
					<li role="presentation"><a href="#imdb" role="tab" id="imdb-tab" data-toggle="tab" aria-controls="imdb" aria-expanded="false">Computer Lab</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
						<div class="w3_agile_featured_movies">
							<div class="wthree-news-left">
								<div class="wthree-news-left-img">
                  {% for school_physics_lab in phylab %}
									<img src="{{ school_physics_lab.photo.url }}" width="50%" height="auto" alt="" />
									<div id="fb-root"></div>
									<div class="w3-agile-news-text">
										<br/><p style="opacity:; font-size:30px; width:100%; color:#1da1f2; background-color:; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">{{ school_physics_lab.text|safe }}</p><br/>
									</div>
                  {% endfor %}
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
						<div class="wthree-news-left">
							<div class="wthree-news-left-img">
                {% for school_chemistry_lab in chemlab %}
								<img src="{{ school_chemistry_lab.photo.url }}" width="50%" height="auto" alt="" />
								<div id="fb-root"></div>
								<div class="w3-agile-news-text">
									<br/><p style="opacity:; font-size:30px; width:100%; color:#1da1f2; background-color:; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">{{ school_chemistry_lab.text|safe }}</p>
								</div>
                {% endfor %}
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="rating" aria-labelledby="rating-tab">
						<div class="wthree-news-left">
							<div class="wthree-news-left-img">
                {% for school_biology_lab in biolab %}
								<img src="{{ school_biology_lab.photo.url }}" width="50%" height="auto" alt="" />
								<div id="fb-root"></div>
								<div class="w3-agile-news-text">
									<br/><p style="opacity:; font-size:30px; width:100%; color:#1da1f2; background-color:; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">{{ school_biology_lab.text|safe }}</p>
								</div>
                {% endfor %}
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="imdb" aria-labelledby="imdb-tab">
						<div class="wthree-news-left">
							<div class="wthree-news-left-img">
                {% for school_computer_lab in complab %}
								<img src="{{ school_computer_lab.photo.url }}" width="50%" height="auto" alt="" />
								<div id="fb-root"></div>
								<div class="w3-agile-news-text">
									<br/><p style="opacity:; font-size:30px; width:100%; color:#1da1f2; background-color:; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">{{ school_computer_lab.text|safe }}</p>
								</div>
                {% endfor %}
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block general_foot %}
   {% for school_general_information in genel %}
 <p>Copyright &copy; {{ school_general_information.current_year }} <br/>NjoNjo Girls High School. {{ school_general_information.school_address }}<br/> All Rights Reserved. Designed by <a href="http://pwares.co.ke" target="_blank">pwares</a></p>
   {% endfor %}
{% endblock %}
