{% extends 'base.html' %}

{% block logo %}
   {% for school_general_information in generiv %}
   <a href="{% url 'home' %}"><img class="welcome" src="{{ school_general_information.school_logo.url }}" height="150" width="150" alt=" "></a>
   {% endfor %}
{% endblock %}

{% block general_head %}
        {% for school_general_information in generiv %}
        <ul>
        <li><i class="fa fa-phone" aria-hidden="true"></i> <strong>{{ school_general_information.school_phone_number|safe }}</strong></li>
        <li><img src="{{ school_general_information.mail_icon.url }}" height="20" width="20" alt=" ">&emsp; <strong>{{ school_general_information.school_emailaddress }}</strong></li>
          <li><img src="{{ school_general_information.address_icon.url }}" height="20" width="20" alt=" ">&emsp; <strong>{{ school_general_information.school_address }}</strong></li>
        </ul>
        {% endfor %}
{% endblock %}

{% block social_links %}
  <nav class="social">
  <ul>
    {% for school_general_information in generiv %}
    <li class="w3_twitter"><a href="{{ school_general_information.school_twitterlink }}" target="_blank">Twitter <i class="fa fa-twitter"></i></a></li>
    <li class="w3_facebook"><a href="{{ school_general_information.school_facebooklink }}" target="_blank">Facebook <i class="fa fa-facebook"></i></a></li>
    {% endfor %}
  </ul>
  </nav>
{% endblock %}

{% block home_content %}
  <h4 class="latest-text w3_latest_text"><strong>Our School Philosophy</strong></h4>
  <div class="container">
  <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">School Mission</a></li>
      <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">School Vision</a></li>
      <li role="presentation"><a href="#rating" id="rating-tab" role="tab" data-toggle="tab" aria-controls="rating" aria-expanded="true">School Core Values</a></li>
      <li role="presentation"><a href="#imdb" role="tab" id="imdb-tab" data-toggle="tab" aria-controls="imdb" aria-expanded="false">School Anthem</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
        <div class="w3_agile_featured_movies">
          {% for school_mission in mission %}
          <div class="wthree-news-left">
            <div class="wthree-news-left-img">
              <div class="w3-agile-news-text">
                <br/><p style="opacity:0.8; font-size:30px; width:100%; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em; "><strong>{{ school_mission.text }}</strong></p>
              </div>
              <div id="fb-root"></div>
              <img src="{{ school_mission.photo.url }}" width="100%" height="auto" alt="" />
            </div>
          </div>
          {% endfor %}
          <div class="clearfix"> </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
        {% for school_vision in vision %}
        <div class="wthree-news-left">
          <div class="wthree-news-left-img">
            <div class="w3-agile-news-text">
              <br/><p style="opacity:0.8; font-size:30px; width:100%; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;"><strong>{{ school_vision.text }}</strong></p>
            </div>
            <div id="fb-root"></div>
            <img src="{{ school_vision.photo.url }}" width="100%" height="auto" alt="" />
          </div>
        </div>
        {% endfor %}
        <div class="clearfix"> </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="rating" aria-labelledby="rating-tab">
        {% for school_core_values in coresp %}
        <div class="wthree-news-left">
          <div class="wthree-news-left-img">
            <img src="{{ school_core_values.photo.url }}" width="100%" height="auto" alt="" />
            <div id="fb-root"></div>
            <div class="w3-agile-news-text">
              <br/>
              <p style="font-weight:bold; opacity:; font-size:22px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">1.<b>&emsp;{{ school_core_values.core_value_one }}</b></p>
              <p style="font-weight:bold; opacity:; font-size:22px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">2.<b>&emsp;{{ school_core_values.core_value_two }}</b></p>
              <p style="font-weight:bold; opacity:; font-size:22px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">3.<b>&emsp;{{ school_core_values.core_value_three }}</b></p>
              <p style="font-weight:bold; opacity:; font-size:22px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">4.<b>&emsp;{{ school_core_values.core_value_four }}</b></p>
              <p style="font-weight:bold; opacity:; font-size:22px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">5.<b>&emsp;{{ school_core_values.core_value_five }}</b></p>
              <p style="font-weight:bold; opacity:; font-size:22px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">6.<b>&emsp;{{ school_core_values.core_value_six }}</b></p>
              <p style="font-weight:bold; opacity:; font-size:22px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">7.<b>&emsp;{{ school_core_values.core_value_seven }}</b></p>
              <p style="font-weight:bold; opacity:; font-size:22px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">8.<b>&emsp;{{ school_core_values.core_value_eight }}</b></p>
              <p style="font-weight:bold; opacity:; font-size:22px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">9.<b>&emsp;{{ school_core_values.core_value_nine }}</b></p>
              <p style="font-weight:bold; opacity:; font-size:22px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">10.<b>&emsp;{{ school_core_values.core_value_ten }}</b></p>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="clearfix"> </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="imdb" aria-labelledby="imdb-tab">
        {% for school_anthem in anthp %}
        <div class="wthree-news-left">
          <div class="wthree-news-left-img">
            <div id="fb-root"></div>
            <div class="w3-agile-news-text">
              <br/>
              <p style="font-weight:bold; opacity:; font-size:20px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">Stanza:</b></p>
              <b><h3><p style="opacity:0.8; font-size:18px; width:100%; color:#000000; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em; "><strong>{{ school_anthem.stanza_one|safe }}</strong></p></h3></b><br/><br/>
              <p style="font-weight:bold; opacity:; font-size:20px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">Chorus:</b></p>
              <b><h3><p style="opacity:0.8; font-size:18px; width:100%; color:#000000; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em; "><strong>{{ school_anthem.stanza_two|safe }}</strong></p></h3></b><br/><br/>
              <p style="font-weight:bold; opacity:; font-size:20px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">Stanza:</b></p>
              <b><h3><p style="opacity:0.8; font-size:18px; width:100%; color:#000000; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em; "><strong>{{ school_anthem.stanza_three|safe }}</strong></p></h3></b><br/><br/>
              <p style="font-weight:bold; opacity:; font-size:20px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">Chorus:</b></p>
              <b><h3><p style="opacity:0.8; font-size:18px; width:100%; color:#000000; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em; "><strong>{{ school_anthem.stanza_four|safe }}</strong></p></h3></b><br/><br/>
              <p style="font-weight:bold; opacity:; font-size:20px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">Stanza:</b></p>
              <b><h3><p style="opacity:0.8; font-size:18px; width:100%; color:#000000; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em; "><strong>{{ school_anthem.stanza_five|safe }}</strong></p></h3></b><br/><br/>
              <p style="font-weight:bold; opacity:; font-size:20px; color:#1da1f2; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em;">Chorus:</b></p>
              <b><h3><p style="opacity:0.8; font-size:18px; width:100%; color:#000000; border-bottom-left-radius:0.5em; border-bottom-right-radius:0.5em; border-top-right-radius:0.5em; border-top-left-radius:0.5em; "><strong>{{ school_anthem.stanza_six|safe }}</strong></p></h3></b><br/><br/>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
{% block general_foot %}
   {% for school_general_information in generiv %}
 <p>Copyright &copy; {{ school_general_information.current_year }} <br/>NjoNjo Girls High School. {{ school_general_information.school_address }}<br/> All Rights Reserved. Designed by <a href="http://www.peerware.co.ke" target="_blank">peerware</a></p>
   {% endfor %}
{% endblock %}
